<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WhoGotStuff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/application.css" />
    <link rel="stylesheet" type="text/css" href="css/font/stylesheet.css" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <img src="/images/logo.png" class="logo"/>
      </div>
      <div class="inner">
        <div class="left-block">
          <div>
            <img src="/images/cs.png" />
            <p> We will be here with some cool creative stuff</p>
          </div>
          <div class="bottom">
            <div class="inner">
              <p>Signup to our mailing list</p>
              <ul class="signup">
                <li><input type="text" class="inputbox" placeholder="you@yourmail.com" /></li>
                <li><input type="button" class="submit" value="Submit" /></li>
              </ul>

              <ul class="social">
                <li><a href="http://www.facebook.com/whogotstuff" target="_blank" title="Facebook"><img src="/images/fb.png" alt="Facebook" /></a></li>
                <li><a href="http://twitter.com/whogotstuff" target="_blank" title="Twitter"><img src="/images/tw.png" alt="Twitter" /></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right-block">
          <img src="/images/img.png" />
        </div>
      </div>
    </div>
  </body>
</html>